*{
margin:4px;
padding:12px;
}
body{
color: red;
background-color: aqua;
font-size: 15px;
font-family: Calibri;
}
p{
font-size:25px;
background-color: white;
}
h1{
color: deeppink;
font-size:30px;
}

input[type="text"] {
border: 2px solid blue; 
padding: 8px;
font-size: 16px;
}
